<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<fieldset>
    
     <table>
          <thead>
               <td>Email</td>
               <td>Importance</td>
               <td>Subject</td>
               <td>Content</td>
          </thead>
          <tbody>
               <tr *ngFor="let email of emails">
                    <td>
                         {{ email.email }}
                    </td>
                    <td>
                         <p *ngIf="email.importance">High</p>
                         <p *ngIf="!email.importance">Low</p>
                    </td>
                    <td>
                         {{ email.subject }}
                    </td>
                    <td>
                         {{ email.content }}
                    </td>
               </tr>
          </tbody>
     </table>
</fieldset>



